body {
  background-color: #fff;
}

.home-page {
  text-align: center;
}

.brand-logo,
.logo {
  height: 100%;
  border-radius: 50%;
}

.nav-bar {
  background-color: #334652;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 85px;
  color: black;
  text-align: center;
}

.card-title {
}

.card-text {
}
